<div class="header">
    <img src="assets/cover.webp" onerror="this.onerror=null; this.src='assets/cover.png'" alt="Photo of me"
        id="propic" />
    <h1>{{ name }}</h1>
    <h3>{{ role }}</h3>

    <h3>{{ focus }}</h3>
    <div class="social-links">
        @for (link of socials; track link.url) {
        <a [href]="link.url" target="_blank" rel="noopener noreferrer" [attr.aria-label]="link.label">
            @if (link.faIcon) {
            <fa-icon [icon]="link.faIcon"></fa-icon>
            }
            @if (link.ciIcon) {
            <svg [cIcon]="link.ciIcon" height="28px" width="28px"></svg>
            }
        </a>
        }
    </div>
</div>
