<div class="header">
    <img src="assets/cover.webp" onerror="this.onerror=null; this.src='assets/cover.png'" alt="Photo of me" id="propic" />
    <h1>Ken Lee</h1>
    <h3>Analyst at Deloitte Digital</h3>

    <h3>Software Engineering, Data Science</h3>
    <div class="social-links">
        <fa-icon [icon]="faGithubSquare" onclick="location.href = 'http\://github.com/mynameiskenlee'"></fa-icon>
        &nbsp;
        <fa-icon [icon]="faLinkedin" onclick="location.href = 'https\://linkedin.com/in/kltk'"></fa-icon>
        &nbsp;
        <a href="https://leetcode.com/mynameiskenlee"><svg [cIcon]="cibLeetcode" height="28px" width="28px"></svg></a>
        &nbsp;
        <fa-icon [icon]="faHackerrank" onclick="location.href = 'https\://www.hackerrank.com/_kltk'"></fa-icon>
    </div>
</div>
<!-- <div class="main">
    <p>Ken</p>
</div> -->