ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: inline-block;
}

li {
    float: left;
}

mat-icon {
    padding: 0 10px;
    color: #ffffff;
    opacity: 0.5;
    font-size: max(min(7vw, 50px), 25px);
    width: max(min(7vw, 50px), 25px);
    height: max(min(7vw, 50px), 25px);
    cursor: pointer;
}

mat-icon:hover {
    opacity: 1;
}

.activebutton mat-icon {
    opacity: 1;
}