<ul>
    <li matTooltip="Home" matTooltipPosition="above" matTooltipClass="tooltip">
        <a class="button" routerLink="/" routerLinkActive="activebutton" [routerLinkActiveOptions]="{ exact: true }"
            #rlahome="routerLinkActive">
            <mat-icon class="material-icons-rounded">home</mat-icon>
        </a>
    </li>
    <li matTooltip="About" matTooltipPosition="above" matTooltipClass="tooltip">
        <a class="button" routerLink="/about" routerLinkActive="activebutton" #rlaabout="routerLinkActive">
            <mat-icon>account_box</mat-icon>
        </a>
    </li>
</ul>