@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Material+Icons);

body {
  background-color: rgba(43, 137, 228, .6);
  color: #ffffff;
  max-width: 1200px;
  margin: 0 auto;
  padding: 5vw;
}

footer p {
  text-align: center;
  color: rgba(255, 255, 255, .6)
}

* {
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

@media (prefers-color-scheme: dark) {
  /* Dark theme styles go here */
  body {
    background-color: #212121;
    color: #ffffff;
  }
}
